<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FindYourBird</title>
    <link rel=stylesheet href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

  </head>
  <body id="body">

    <%- include('partials/searchbar') %>

    <div class="container mt-5" id="bird-container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h2>Bird Info</h2>
            <a class="btn btn-warning" href="/<%=bird._id%>" id="edit" value="Edit"><i class="fas fa-arrow-left"></i> Back</a>
            <br />
            <form action="/<%=bird._id%>?_method=put" method="post" class="edit-bird-form">
              <br />
              <input class="form-control" maxlength="70" class="inpt" type='text' id="range" placeholder='Enter bird range' name="range" value="<%=bird.range%>" required/><br />
              <input class="form-control" maxlength="150" class="inpt" type='text' id="app" placeholder='Enter bird appearance' name="appearance" value="<%=bird.appearance%>" required/><br />
              <input class="form-control" maxlength="60" class="inpt" type='text' id="diet" placeholder='Enter bird diet, separated by commas' name="diet"  value="<%=bird.diet%>" required/><br />
              <textarea class="form-control" maxlength="400" class="inpt" id="description" rows='5' cols='25' type='text' placeholder='Enter bird description' name="description" required><%=bird.description%></textarea>
              <br />

              <h4>Color Intensity</h4>
              <% for (let color of colors) { %>
                <input type="checkbox" name="<%=color%>" id="<%=color%>" onchange="resetSlider(this)"<% if (bird.colors.includes(color)) { %>checked<% } %>/>
                <label for="<%=color%>" style="background-color: <%=color%>; padding-left: 10px; padding-right: 10px; border-radius: 20px; width: 80px;
                  <% if (['White', 'Yellow', 'Pink', 'Orange'].includes(color)) { %>
                    color: black;">
                  <% } else { %>color: white;"><% } %><%=color%></label>
                <% let count = 0;%>
                <% for (let c of bird.colors) { %>
                  <% if (c == color) { %>
                    <% count ++;%>
                  <% } %>
                <% } %>
                <input type="range" id="<%=color%>-slider" name="<%=color%>Slider" max="10" min="0" value="<%=count%>" style="margin-left: 20px;" onchange="changeLabel(this)">
                <label for="<%=color%>-slider" id="<%=color%>-slider-label"><%=count%></label>
                <br />
              <% } %>
              <br />

              <h4>Size</h4>
              <select required class="form-control" id="size-list" name="size">
                <option disabled selected value="">Select A Bird Size</option>
                  <% for (let size of sizes) {%>
                    <% if (size == bird.size) {%>
                      <option name="size" selected><%=size%></option>
                    <%} else {%>
                      <option name="size"><%=size%></option>
                    <%}%>
                  <%}%>
              </select>
              <br />
              <h4 id="habitat-list-head">Habitat</h4>
                <% for (let hab of habitats) {%>
                  <input type="checkbox" name="<%=hab%>" id="<%=habitats.indexOf(hab)%>"
                  <% if (bird.habitat.includes(hab)) {%>
                    checked
                  <%}%>
                  />
                  <label for=<%=habitats.indexOf(hab)%> class="label"><%=hab%></label>
                  <br />
                <%}%>
              <br />
              <button class="btn btn-primary" type="submit" id='submt' align="center" name="button"><i class="fas fa-edit"></i> Update Bird</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/javascript/new-bird.js"></script>
</html>
