extends layout.pug
block content
  div.container
    br
    if name
      h2(id="heading") #{name}
      img(id="image" src=image)
      form(action = "/gallery" method="post")
        button(id="gallery_button") Gallery
      p(id="description") #{description}
      p
        strong(id="appearance") Appearance: #{appearance}
      p
        strong(id="diet") Diet: #{diet}
      p
        strong(id="habitat") Habitat: #{habitat}
      p
        strong(id="range") Range: #{range}
        
    else if too_short
      p
        strong Sorry, '#{too_short}' is too short a search word. Searches must be 4 characters long or more.
      
    else if not_there
      p
        strong Sorry, '#{not_there}' is not in our database. Create a profile for it!
      form(action="/view" method="post")
        button(type="submit" id="view" name="button" value="View All Birds") View All Birds
        button(type="submit" id="add_bird" name="button" value="Add Bird With This Name") Add Bird With This Name
