<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FindYourBird</title>
    <link rel=stylesheet href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href='/media/favicon3.ico' />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
  </head>
  <body id="body">

    <%- include('partials/searchbar') %>

    <div class="container mt-5" id="bird-container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center" >

            <h2>Bird Info</h2>
            <form action="/" method="post">
              <br id="overlap-break"/>
              <p id="overlap-warning-bird" style="color: red;">That bird is already in our database</p>
              <p id="overlap-warning-request" style="color: red;">That bird is currently a pending add request</p>
              <input class="form-control" minlength="4" maxlength="35" class="inpt" type="text" id="name" name="name" placeholder="Enter bird name" required/><br />
              <input class="form-control" minlength="4" maxlength="35" class="inpt" type="text" id="scientificName" name="scientificName" placeholder="Enter bird scientific name" required/><br />

              <input class="form-control" id="image-input" class="inpt" type="text" placeholder="Enter url for bird image" id="img" name="img" required/><br />
              <figure class="figure">
                <img style="width: 50%; height: 50%;" id="image-display" class="figure-img img-fluid rounded"/>
                <figcaption class="figure-caption" style="color:black;"><strong id="citation-header"></strong><em id="citation-value"></em></figcaption>
              </figure>
              <br />

              <input class="form-control" maxlength="50" class="inpt" type="text" placeholder="Enter citation for bird image" id="citation-input" name="citation" required/><br />
              <input class="form-control" maxlength="70" class="inpt" type='text' id="range" placeholder='Enter bird range' name="range" required/><br />
              <input class="form-control" maxlength="100" class="inpt" type='text' id="app" placeholder='Enter bird appearance' name="appearance" required/><br />
              <input class="form-control" maxlength="60" class="inpt" type='text' id="diet" placeholder='Enter bird diet, separated by commas' name="diet" required/><br />
              <textarea maxlength="330" class="form-control" class="inpt" id="description" rows='5' cols='25' type='text' placeholder='Enter bird description' name="description" required></textarea>

              <br />

              <h4>Colors</h4>
              <% for (let color of colors) { %>
                <input style="background: <%=color%>;" type="checkbox" name="<%=color%>" />
                <% if (['White', 'Yellow', 'Pink', 'Orange'].includes(color)) { %>
                  <label style="background-color: <%=color%>; color: black; padding-left: 10px; padding-right: 10px; border-radius: 20px;"><%=color%></label><br />
                <% } else {%>
                  <label style="background-color: <%=color%>; color: white; padding-left: 10px; padding-right: 10px; border-radius: 20px;"><%=color%></label><br />
                <% } %>
              <% } %>

              <br />
              <h4>Size</h4>
              <select required class="form-control" id="size-list" name="size">
                <option disabled selected value="">Select A Bird Size</option>
                <% for (let size of sizes) {%>
                  <option name="size"><%=size%></option>
                <%}%>
              </select>

              <br />
              <h4 id="habitat-list-head">Habitat</h4>
                <% for (let hab of habitats) {%>
                  <input type="checkbox" name="<%=hab%>" />
                  <label for=<%=habitats.indexOf(hab)%> class="label"><%=hab%></label>
                  <br />
                <%}%>

              <br />
              <button class="btn btn-primary" type="submit" id='submt' name="button"><i class="fas fa-plus-circle"></i> Submit Bird</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>

    let birdNames = "<%=birds%>".split(',');
    let birdRegExpNames = []

    let requestNames = "<%=requests%>".split(',');
    let requestRegExpNames = []

    const nameInput = document.getElementById("name");
    const imageInput = document.getElementById('image-input')
    const imageDisplay = document.getElementById('image-display')
    const citationInput = document.getElementById('citation-input')
    const citationHeader = document.getElementById('citation-header')
    const citationValue = document.getElementById('citation-value')

    let nameInputValue;
    $("#overlap-warning-bird").hide();
    $("#overlap-warning-request").hide();

    for (let name of birdNames) {
      birdRegExpNames.push(name.toLowerCase().replace(/[^A-Za-z]/g, ''));
    }

    for (let name of requestNames) {
      requestRegExpNames.push(name.toLowerCase().replace(/[^A-Za-z]/g, ''));
    }

    nameInput.addEventListener('keydown', () => {
      setTimeout(() => {
        nameInputValue = nameInput.value.toLowerCase().replace(/[^A-Za-z]/g, '');

        if (nameInput.value != "") {

          if(birdRegExpNames.includes(nameInputValue)) {
            $("#overlap-warning-bird").show();
            $("#overlap-warning-request").hide();
            $("#overlap-break").hide();

          } else if (requestRegExpNames.includes(nameInputValue)) {
            $("#overlap-warning-bird").hide();
            $("#overlap-warning-request").show();
            $("#overlap-break").hide();

          } else {
            $("#overlap-warning-bird").hide();
            $("#overlap-warning-request").hide();
            $("#overlap-break").show();
          }

        } else {
          $("#overlap-warning-bird").hide();
          $("#overlap-warning-request").hide();
          $("#overlap-break").show();
        }
      } , 3); //Wait 1 millisecond, gives enough time for the computer to process your latest keystrokes
    })

    imageInput.addEventListener('keydown', () => {
      setTimeout(() => {
        if(imageInput.value.slice(0, 8) == "https://" || imageInput.value.slice(0, 7) == "http://") {
          imageDisplay.src = imageInput.value
          imageDisplay.alt = "Image Does Not Exist"

        } else {
          imageDisplay.src = ""
          imageDisplay.alt = "Image Does Not Exist"
        }
      }, 3)
    })

    imageInput.addEventListener('paste', () => {
      setTimeout(() => {
        if(imageInput.value.slice(0, 8) == "https://" || imageInput.value.slice(0, 7) == "http://") {
          imageDisplay.src = imageInput.value
          imageDisplay.alt = "Image Does Not Exist"

        } else {
          imageDisplay.src = ""
          imageDisplay.alt = "Image Does Not Exist"
        }
      }, 3)
    })

    citationInput.addEventListener('keydown', () => {
      setTimeout(() => {

        if (citationInput.value != "") {
          citationHeader.innerText = "Citation: "
          citationValue.innerText = citationInput.value

        } else {
          citationHeader.innerText = ""
          citationValue.innerText = citationInput.value
        }
      }, 3)
    })

    citationInput.addEventListener('paste', () => {
      setTimeout(() => {

        if (citationInput.value != "") {
          citationHeader.innerText = "Citation: "
          citationValue.innerText = citationInput.value

        } else {
          citationHeader.innerText = ""
          citationValue.innerText = citationInput.value
        }
      }, 3)
    })

  </script>
</html>
