extends layout.pug
block content
  form(action="/leave" method="post")
    button(type="submit" id="leave") Return to 'add bird' page
  br
  br
  div.container
    br
    h2(id="heading") #{name}
    img(id="image" src=image)
    p(id="description") #{description}
    p
      strong(id="appearance") Appearance: #{appearance}
    p
      strong(id="diet") Diet: #{diet}
    p
      strong(id="habitat") Habitat: #{habitat}
    p
      strong(id="range") Range: #{range}
