<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FindYourBird</title>
    <link rel=stylesheet href="/stylesheets/style.css" />
    <link rel=stylesheet href="/stylesheets/results.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

  </head>
  <body>

  <%- include('partials/searchbar') %>

  <div class="container mt-5" id="bird-container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron text-center" style="background-color: #6ba84a;">
            <% if (birds.length == 0) { %>
                  <h2>No Results</h2>
                  <% if (from == "search") { %>
                    <p>Sorry, we couldn't find a match for "<%=search%>"</p>

                  <% } else { %>
                    <p>Sorry, we couldn't find a match for your data</p>
                  <% }%>
            <% } else { %>
              <h2>Results</h2>
              <% if (from == "search") { %>
                <span><%=birds.length%> bird<%if(birds.length > 1) {%>s<%}%> match<%if(birds.length == 1) { %>es<% } %> "<%=search%>"</span>

              <% } else { %>
                <span><%=birds.length%> bird<%if(birds.length > 1) {%>s<%}%> match<%if(birds.length == 1) { %>es<% } %> your data</span>
              <% }%>

              <% if (birds.length > 10) { %>
                <span id="top-10">(Showing Top 10 Results)</span><br /><br />
                <button class="btn btn-primary" onclick="show(this)">Show More</button>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="results">
    <%for (let i = 0; i < birds.length; i ++) { %>
      <% if (birds[i]) { %>
        <div class="row bird" id="<%=i%>" <% if (i > 9) {%> style="display: none;" <%} %>>
          <div class="col-lg-12">
            <article class="text-block mode">
              <div class="block-header grey">
                <h5>
                  <a class="bird-info" href="/<%=birds[i]._id %>"><%= birds[i].name %>
                    <% if (from == "data") { %>
                      (<%=(100*(birdMap.get(birds[i]._id.toString())/4)).toFixed(2)%>% match)

                    <% } else if (from == "search") { %>
                      <% let max = resultMap.get(birds[0]._id.toString());%>
                      <% if (perfectMatch > max) { %>
                        <% max = perfectMatch;%>
                      <% } %>
                      (<%=(100*resultMap.get(birds[i]._id.toString())/max).toFixed(2)%>% match)
                    <% } %>
                  </a>
                </h5>
                <em><%=birds[i].scientificName%></em>
              </div>
              <div class="block-content">
                <img class="bird-image" src="<%=birds[i].img.url%>"/>
                <figcaption class="figure-caption"><strong class="caption-header">Image Citation</strong>: <em class="citation-text"><%=birds[i].img.citation%></em></figcaption>
                <% if (birds[i].description.split(" ").length > 70) { %>
                  <p class="bird-description"><%= birds[i].description.split(" ").slice(0, 71).join(" ") %>
                    <a href="/<%=birds[i]._id %>">(Read More)
                    </a>
                  </p>
                <% } else { %>
                  <p class="bird-description"><%= birds[i].description %></p>
                <% } %>
              </div>
            </article>
          </div>
        </div>
        <br /><br />
      <% } %>
    <% } %>
  </div>

  </body>
  <script src="/javascript/search.js"></script>
  <script src="/javascript/bird-show.js"></script>
</html>
