extends layout.pug
block content
  div.container
    form(action="/sub" method="post")
      br
      input(class="inpt" type="text" id="name" name="name" placeholder="Enter bird name" value=`${name}`)
      input(class="inpt" type="text" placeholder="Enter url for bird image" id="img" name="img" value=`${image}`)
      input(class="inpt" type='text' id="range" placeholder='Enter bird range' name="range" value=`${range}`)
      input(class="inpt" type='text' id="app" placeholder='Enter bird appearance' name="app" value=`${appearance}`)
      input(class="inpt" type='text' id="diet" placeholder='Enter bird diet' name="diet" value=`${diet}`)
      input(class="inpt" type='text' id="habitat" placeholder='Enter bird habitat' name="habitat" value=`${habitat}`)
      textarea(class="inpt" id="description" rows='7' cols='25' type='text' placeholder='Enter bird description' name="description") #{description}
      br
      button(type="submit" id="prev" name="button" value="Preview Bird") Preview Bird
      button(type="submit" id='submt' align="center" name="button" value="Submit Bird") Submit Bird
      button(type="submit" id="view" name="button" value="View All Birds") View All Birds
      
